@{
    ViewData["Title"] = "Home Page";
}


@model IEnumerable<InternetShop.BL.Interfaces.ModelCategory>

<h1>The large internet shop</h1>

@{
    foreach (var item in Model)
    {
        <h2>@item.Id</h2>
        if (item.Child == null)
            continue;
        foreach (var subcategory in item.Child)
        {
            <a href="/Home/Subcategory/@subcategory.Id">@subcategory.Title</a>
        }
    }
}
