@model  InternetShop.BL.Interfaces.ModelOrder

@{ 
    foreach (var item in Model.Products)
    {
        <p>@item.Title @item.Price @item.Description <a href="/Basket/RemoveFromBasket/@item.Id">RemoveFromBasket</a></p>
    }
}